* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.invisible {
    visibility: hidden;
}

button {
    padding: 8px;
    color: white;
    font-size: 1rem;
    background-color: #0095fd;
    border-radius: 8px;
    border: 1px solid lightgrey;
    width: 80%;
    
    cursor: pointer;
    transition: transform 0.25s ease;
}

button:active {
    transform: scale(0.9);
}

input {
    font-size: 1rem;
}
label {
    font-size: 1.2rem;
}

header {
    height: 20vh;
    width: auto;
    background-color: #0095fd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 80vh;
    max-width: 100vw;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    background-color: lightgrey;
}

.sidebar-title {
    font-size: 1.5rem;
}

.form,
#search-form {
    display: grid;
    gap: 16px;
    justify-items: center;
}

/* Loading spinner */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-arc {
  animation: rotate-container 2s linear infinite;
  width: 50px;
  height: 50px;
}
.spinner-arc .path {
  stroke: #3498db;
  stroke-linecap: round;
  animation: dash-animation 1.5s ease-in-out infinite;
}

@keyframes rotate-container {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash-animation {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* End loading spinner styling */

.display-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    box-shadow: 2px 2px 2px lightgrey;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid lightgrey;
    padding: 8px;
}

ul {
    display: grid;
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

img {
    max-width: 250px;
    height: auto;
}

/* Responsive design for smaller screen sizes */
@media screen and (max-width: 750px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #sidebar {
        padding: 24px;
    }

    .display-section {
        width: 100%;
    }
}
